/* ------ GLOBAL STYLES --------*/

body {
    margin: 0;
    padding: 0;
}

/* ------ NAVIGATION --------*/

nav {
    height: 70px;
    color: white;
    background-color: #292929;
    margin-bottom: 50px;
    padding-top: 25px;
    box-sizing: border-box;
}

nav ul {
    margin: 0;
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* ------ FORM --------*/

form {
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    background-color: #ececec;
    box-shadow: 0 2px 4px 2px #c8c8c8;
}

form .input-row {
    margin: 10px 0;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

form button {
    padding: 5px;
}

.message, .error {
    margin-top: 30px;
    padding: 10px;
    text-align: center;
}

.message {
    color: darkgreen;
    background-color: rgba(0, 255, 0, 0.2);
}

.error {
    color: darkred;
    background-color: rgba(255, 0, 0, 0.2);
}

