#gallery {
    width: 1000px;
    margin: 50px auto;
}

#gallery > img {
    height: 200px;
    width: calc(24% - 10px);
    margin: 5px;
    object-fit: cover;
}

#loadButton {
    display: block;
    margin: 0 auto;
}