
body {
    text-align: center;
}

.container {
    padding-bottom: 20px;
}

.card {
    color: #777;
    border: 1px solid #777;
    border-radius: 5px;
    position: relative;
    width: 60px;
    height: 90px;
    display: inline-block;
    margin: 2px;
    background: #eee;
    font-size: 120%;
    vertical-align: top;
}

.card.back {
    background-size: 10px 10px;
    background-image: radial-gradient(circle, #ccc 1px, rgba(0, 0, 0, 0) 1px);
    border-color: #ccc;
}

.card::before {
    font-size: 250%;
    line-height: 85px;
}

.card.diamonds,
.card.hearts {
    color: red;
    border-color: red;
}

.card.clubs,
.card.spades {
    color: black;
    border-color: black;
}

.card.diamonds::before {
    content: '♦'
}

.card.hearts::before {
    content: '♥'
}

.card.clubs::before {
    content: '♣'
}

.card.spades::before {
    content: '♠'
}

.card > .name {
    position: absolute;
    padding: 5px 8px;
    left: 0px;
    top: 0px;
}
